h1 {font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;
    text-decoration-line: underline;
}

body {background-image: url("../image/nature.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100% ;
} 

h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-style: inherit;
    text-decoration: underline;
    font-size: medium;
    text-decoration: underline;
}

h6 {font-style: oblique;
    font-size:  20px; 
    color: goldenrod;
    text-decoration: underline;
}

.Contact-me {color: brown;
    font-weight: bold;
    align-items: center;
    border-style: hidden;
    font-size: medium;

}

div {display: inline-block


}






